* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-navbar {
    background-color: #3F4F44;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-navbar {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.li-navbar {
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.li-navbar:hover {
    background-color: #A27B5C;
    transform: scale(1.1);
}

.a-navbar {
    text-decoration: none;
    text-shadow: 3px 3px 5px #000000;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block;
    transition: color 0.3s ease-in-out;
    transition-delay: .5s;
}

.a-navbar:hover {
    color: white;
    text-decoration: underline;
    opacity: 0.8;
}

.container-content {
    background-color: #2C3930;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px;

}

.Paket-1 {
    background-color: #333;
    height: 70vh;
    margin: 20px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: -14px 13px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -14px 13px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 13px 5px 0px rgba(0,0,0,0.75);
}

.p-content {
    height: 80vh;
    width: 49%;
    font-size: 18px;
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.container-footer {
    background-color: #3F4F44;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}